:root {
    --clr-dark: #0c0a09;
    --clr-light: #ffffff;
    --clr-true-blue: #3066BE;
    --clr-duke-blue: #090C9B;
    --clr-jet: #3C3744;
    --clr-powder-blue: #669bfd;
    --clr-ivory: #FBFFF1;
    --clr-shark-blue: #007bff;
}

* {
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, var(--clr-true-blue) 1.18%, var(--clr-duke-blue) 100%);
    color: var(--clr-light);
    padding: 20px;
    z-index: 1000;
  }
  
  .header-image {
      height: 100%;
      margin-right: 8px;
  }

  .logout-btn {
    background-color: var(--clr-powder-blue);
    color: var(--clr-light);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }

  .logout-btn:hover {
    background-color: var(--clr-shark-blue);
  }

  /* Body Content  */
body {
    color: var(--clr-light);
    background-color: var(--clr-jet);
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.body-title-container {
  display: flex;
  justify-content: space-between;
  margin-left: 515px;
  margin-right: 20px;
  margin-top: 81px;
  align-items: center;
}

.body-title {
  font-family: 'Courier New', Courier, monospace;
}

.favorites-btn {
  background: var(--clr-powder-blue);
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

/*  Slide-Carousel */
.show-carousel {
  width: 88%;
  margin: auto;
  padding: 18px;
  border: 1px solid var(--clr-jet);
  border-radius: 10px;
  box-shadow: 0 0 20px var(--clr-ivory);
  position: relative;
}

.show-slide {
  padding: 25px;
  text-align: center;
}

.show-slide img {
  width: 100%;
  height: auto;
}

.slide-info {
  color: var(--clr-powder-blue);
}

span {
  color: var(--clr-ivory);
}

/* FILTER SYSTEM */
/* sort-buttons */
.sort-btns {
  gap: 10px;
  margin-bottom: 10px;
  margin-right: 4px;
  background-color: var(--clr-true-blue);
  color: var(--clr-light);
  font-family: "Roboto", sans-serif;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sort-btns:hover {
  background-color: var(--clr-duke-blue);
}

.filter-sort-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title-filter {
  display: flex;
  align-items: center;
}

.title-filter label {
  margin-right: 10px;
}

.genres {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.genres span.selected {
  background-color: var(--clr-true-blue);
  color: var(--clr-light);
  margin-right: 8px;
}


/* Show List  */
.list-container {
  padding-top: 15px;
}

.show-list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 8px;
  margin-right: 40px;
}

.show-list li {
  border: 1px solid var(--clr-jet);
  border-radius: 10px;
  box-shadow: 0 0 20px var(--clr-powder-blue);
  color: var(--clr-light);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.list-image {
  width: 35%;
  height: auto;
}

.list-detail {
  padding: 10px;
  text-align: center;
}

.show-more {
  background-color: var(--clr-duke-blue);
  color: var(--clr-light);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.show-more:hover {
  background-color: var(--clr-true-blue);
}

/* Loading State  */
.loading-state {
  font-family: "Roboto", sans-serif;
  font-size: x-large;
  color: var(--clr-powder-blue);
  position: fixed;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*  Footer */
.Footer {
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  height: 50px;
  background: linear-gradient(90deg, var(--clr-true-blue) 1.18%, var(--clr-duke-blue) 100%);
  color: var(--clr-light);
  padding: 20px;
}

.footer-link {
  color: var(--clr-powder-blue);
}

/* SignUp and Login */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--clr-true-blue);
  box-shadow: 0 0 20px var(--clr-ivory);
  border-radius: 8px;
  margin-top: 50px;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--clr-light);
  border-radius: 4px;
}

.form-btn {
  width: 100%;
  padding: 10px;
  background-color: var(--clr-powder-blue);
  color: var(--clr-light);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-btn:hover {
  background-color: var(--clr-shark-blue);
}

.form-link {
  margin-top: 10px;
  display: block;
  text-align: center;
  color: var(--clr-shark-blue);
  text-decoration: none;
}

.form-link:hover {
  color: var(--clr-powder-blue);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

/* Responsive styles for iPhone SE */
@media screen and (max-width: 375px) {
    .header-title {
      margin-left: 75px;
      margin-right: auto;
    }

    .body-title {
      font-family: 'Courier New', Courier, monospace;
      font-size: medium;
      margin-top: 81px;
      margin-left: 65px;
      margin-right: auto;
    }
  
    
    .show-carousel {
      width: 85%;
      padding: 10px;
    }

    .show-slide img {
      width: 95%;
      height: auto;
    }
    
    .show-list {
      grid-template-columns: repeat(2, minmax(150px, 1fr));
      margin-right: 20px;
    }

    .list-title {
      padding-top: 50px;
    }

    /* Filtering */
    .filter-sort-container {
      flex-direction: column;
      align-items: center;
    }

    .title-filter {
      margin-bottom: 10px;
    }
    
    .title-filter label {
      margin-right: 0;
      margin-bottom: 5px;
    }

    .sort-btns {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .genres {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .genres span {
      margin-bottom: 8px; /* Adjust the margin as needed */
    }
    
    .Footer {
      bottom: 0;
      width: 100%;
      align-items: center;
      height: 100px;
      color: var(--clr-light);
      padding-bottom: 150px;
    }

    form {
      width: 90%;
    }
  }