:root {
    --clr-dark: #0c0a09;
    --clr-light: #ffffff;
    --clr-true-blue: #3066BE;
    --clr-duke-blue: #090C9B;
    --clr-jet: #3C3744;
    --clr-powder-blue: #B4C5E4;
    --clr-ivory: #FBFFF1;
}

* {
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, var(--clr-true-blue) 1.18%, var(--clr-duke-blue) 100%);
    color: var(--clr-light);
    padding: 20px;
    z-index: 1000;
  }
  
  .header-image {
      height: 100%;
      margin-right: 8px;
  }

  /* Body Content  */
body {
    color: var(--clr-light);
    background-color: var(--clr-jet);
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.body-title {
  margin-top: 81px;
  margin-left: 118px;
}

/*  Footer */
.footer {
    bottom: 0;
    width: 100%;
    align-items: center;
    height: 50px;
    background: linear-gradient(90deg, var(--clr-true-blue) 1.18%, var(--clr-duke-blue) 100%);
    color: var(--clr-light);
    padding: 20px;
}

/*  Slide-Carousel */
.show-carousel {
  width: 95%;
  margin: auto;
  padding: 20px;
}

.show-slide {
  padding: 25px;
  text-align: center;
}

.show-slide img {
  width: 100%;
  height: auto;
}

.slick-dots {
  bottom: -25px;
}

/* Show List  */
.list-container {
  padding-top: 15px;
}

.show-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.show-list li {
  background-color: var(--clr-true-blue);
  color: var(--clr-light);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Loading State  */
.loading-state {
  font-family: "Roboto", sans-serif;
  font-size: x-large;
  color: var(--clr-powder-blue);
  position: fixed;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Responsive styles for iPhone SE */
@media screen and (max-width: 375px) {
    .header-title {
      margin-left: 75px;
      margin-right: auto;
    }
  
    .footer {
      bottom: 0;
      width: 100%;
      align-items: center;
      height: 100px;
      background: linear-gradient(90deg, var(--clr-true-blue) 1.18%, var(--clr-duke-blue) 100%);
      color: var(--clr-light);
      padding-bottom: 150px;
    }

    .show-carousel {
      width: 85%;
      padding: 10px;
    }

    .show-slide img {
      width: 95%;
      height: auto;
    }

    .slick-dots {
      bottom: -65px;
    }

    .list-title {
      padding-top: 50px;
    }
  }