:root {
    --clr-dark: #0c0a09;
    --clr-light: #ffffff;
    --clr-true-blue: #3066BE;
    --clr-duke-blue: #090C9B;
    --clr-jet: #3C3744;
    --clr-powder-blue: #669bfd;
    --clr-ivory: #FBFFF1;
}

* {
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, var(--clr-true-blue) 1.18%, var(--clr-duke-blue) 100%);
    color: var(--clr-light);
    padding: 20px;
    z-index: 1000;
  }
  
  .header-image {
      height: 100%;
      margin-right: 8px;
  }

  /* Body Content  */
body {
    color: var(--clr-light);
    background-color: var(--clr-jet);
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.body-title {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 81px;
  margin-left: 515px;
}

/*  Slide-Carousel */
.show-carousel {
  width: 88%;
  margin: auto;
  padding: 18px;
  border: 1px solid var(--clr-jet);
  border-radius: 10px;
  box-shadow: 0 0 20px var(--clr-ivory);
  position: relative;
}

.show-slide {
  padding: 25px;
  text-align: center;
}

.show-slide img {
  width: 100%;
  height: auto;
}

.slide-info {
  color: var(--clr-powder-blue);
}

span {
  color: var(--clr-ivory);
}

/* buttons */
.sort-btns {
  margin-bottom: 10px;
  margin-right: 4px;
  background-color: var(--clr-true-blue);
  color: var(--clr-light);
  font-family: "Roboto", sans-serif;
  padding: 10px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sort-btns:hover {
  background-color: var(--clr-duke-blue);
}

/* Show List  */
.list-container {
  padding-top: 15px;
}

.show-list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 8px;
  margin-right: 40px;
}

.show-list li {
  border: 1px solid var(--clr-jet);
  border-radius: 10px;
  box-shadow: 0 0 20px var(--clr-powder-blue);
  color: var(--clr-light);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.list-image {
  width: 35%;
  height: auto;
}

.list-detail {
  padding: 10px;
  text-align: center;
}

.show-more {
  background-color: var(--clr-duke-blue);
  color: var(--clr-light);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.show-more:hover {
  background-color: var(--clr-true-blue);
}

/* Loading State  */
.loading-state {
  font-family: "Roboto", sans-serif;
  font-size: x-large;
  color: var(--clr-powder-blue);
  position: fixed;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*  Footer */
.footer {
  bottom: 0;
  width: 100%;
  align-items: center;
  height: 50px;
  background: linear-gradient(90deg, var(--clr-true-blue) 1.18%, var(--clr-duke-blue) 100%);
  color: var(--clr-light);
  padding: 20px;
}

/* Responsive styles for iPhone SE */
@media screen and (max-width: 375px) {
    .header-title {
      margin-left: 75px;
      margin-right: auto;
    }

    .body-title {
      margin-top: 1px;
    }
  
    .footer {
      bottom: 0;
      width: 100%;
      align-items: center;
      height: 100px;
      background: linear-gradient(90deg, var(--clr-true-blue) 1.18%, var(--clr-duke-blue) 100%);
      color: var(--clr-light);
      padding-bottom: 150px;
    }

    .show-carousel {
      width: 85%;
      padding: 10px;
    }

    .show-slide img {
      width: 95%;
      height: auto;
    }

    .show-list {
      grid-template-columns: repeat(2, minmax(150px, 1fr));
      margin-right: 20px;
    }

    .list-title {
      padding-top: 50px;
    }
  }